body{
  padding: 1px;
  margin:;
  background-color: black;
  color: white;
}

h2 {
	color: red;
	
}

#Nick {
  color: orange;
}

.img {
  width: 495px;
}

p {
  width: 500px;
}

.myTable {
  width:3px;
}
